* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(153, 153, 153);
}

/* header start */

.cabecalho {
    flex-grow: 2;
    display: flex;
    justify-content: baseline;
    font-family: 'Henny Penny', cursive;
    background-image: url(images/footerWood.png);
    height: 15vh;
    padding-left: 10px;
}

    .logo {
        flex-grow: 1;
        height: 100px;
        padding: 12px;
    }

        .cabecalho a {
            text-decoration: none;
        }

            .logo img {
                height: 100%;
            }

    /* Sanduich Icon Start */
    .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 30px;
    }

        #checkbox-menu{
            position: absolute;
            opacity: 0;
        }

            label{
                cursor: pointer;
                position: relative;
                display: block;
                height: 22px;
                width: 22px;
            }
            
                label span{
                    position: absolute;
                    display: block;
                    height: 5px;
                    width: 100%;
                    border-radius: 30px;
                    background: #7e3b2c;
                    transition: 0.5s ease-in-out;
                }
                
                    label span:nth-child(1){
                        top: 0;
                    }
                    
                    label span:nth-child(2){
                        top: 8px;
                    }
                    
                    label span:nth-child(3){
                        top: 16px;
                    }
                    
            #checkbox-menu:checked + label span:nth-child(1){
                transform: rotate(135deg);
                top: 8px;
            }
            
            #checkbox-menu:checked + label span:nth-child(2){
                transform: rotate(45deg);
                top: 8px;
            }
            
            #checkbox-menu:checked + label span:nth-child(3){
                transform: rotate(135deg);
                top:8px;
            }

    /* Sanduich Icon Ends */

    
    .menu {
        flex-grow: 4;
        display: flex;
        align-items: center;
    }

        .menu ul {
            display: flex;
            margin: 0;
            padding: 0;
        }
        
            .menu li {
                list-style: none;
            }

                .menu a {
                    color: #eee;
                    padding: 15px;
                    font-size: 1.7em;
                }

                .menu a:hover,
                .menu a.selected {
                    background-color: #7e3b2c;
                    color: #000; 
                    border-radius: 20px;        
                }

    .autenticacao {
        flex-grow: 1;
        display: flex;
        padding: 30px 10px;
    }

        .autenticacao a {    
            color: #7e3b2c;
        }

        .botao {
            border-radius: 30px;
            padding: 5px 10px;
            margin: 10px;
        }

        .botao:hover {
            color: rgb(223, 9, 9);
        }

@media(min-width: 921px) {
    .container {
        display: none;
    }
}

@media(max-width: 920px) {
    .menu {
        display: none;
    }
}

@media(max-width: 530px) {
    .autenticacao {
        display: none;
    }
}

/* Header ends */

/* Main Body Starts */

.mainBody {
    height: 78vh;
    flex-grow: 10;
    display: flex;
}

    .chalkBoard {
        flex-grow: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
        font-family: 'Fredericka the Great', cursive;
        background-image: url(images/BodyBoardP.jpg);
        background-size: cover;
        border: solid 2px #bb773f;
    }

        .chalkBoard boardAnnotationH1 {
            font-size: 60px;
            align-self: center;
        }

        .chalkBoard boardAnnotation02 {
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-size: 30px;
        }

        .chalkBoard boardAnnotation03 {
            font-size: 30px;
        }
    
        .mainBRight {
            width: 25px;
            background-image: url(images/footerWood.png);
        }

        .mainBLeft {
            width: 25px;
            background-image: url(images/footerWood.png);
        }

footer {
    flex-grow: 1;
    display: flex;
    height: 7vh;
    background-image: url(images/footerWood.png);
}

/* Organizar o @midia */
/* falta colocar o botao sanduiche para funcionar */